<table  id="tableList" class="table table-hover table-striped mt-5">
    <thead>
      <tr>
        <th>Event name</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Holiday</th>
        <th style="width:18%;"><input class="form-control" style="font-size:12px;" type="text" id="searchInput" placeholder="Search.."></th>
      </tr>
    </thead>
    <tbody id="tableData">
    <% @events.each do |e| %>
      <tr>
        <td><%= e.event_name -%></td>
        <td><%= e.start_time.strftime("%Y-%m-%d") -%></td>
        <% if e.end_time.blank? %>
        <td> ------------ </td>
        <% else %>
        <td><%= e.end_time.strftime("%Y-%m-%d") -%></td>
        <% end %>
        <td><%= yes_or_no(e.holiday) -%></td>
        <td style="text-align:center;">
        <%= link_to image_tag('edit_icon.png', :class => "mr-4",:title => "edit"),{action: 'edit', id:e.id}%>
        <%= link_to e, method: :delete, data: {confirm: 'Are you sure?'} do %>
          <%= image_tag('delete_icon.png',:title => "delete") %>
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% if @page != 0 %>
  <%= link_to "< Previous",{action: 'list', page:@page-1}, remote: true, id: 'prev-page' %>
  <% elsif @next_flag && @page + 1 == @last_page %>
  <%= link_to "Next >",{action: 'list', page:@page+1},class:"float-right next", remote: true, id: 'next-page'%>
  <% end %>