<%= render "shared_admin/navs" %>
<%= render "shared_admin/breadcrumbs" %>

<div class="container mt-5 mb-5 pl-5 pr-5">
<%= render "shared_admin/flash" %>
<h2 class="mb-5 page-title">Global Setup</h2>
<div class="container mb-5 p-0">
  <%= form_tag :action => "create_device_type" do %>
    <div class="form-row">
      <div class="form-group col-md-6">
          <label for="designation">Device type</label>
          <%= text_field 'device_type', 'device_type', class: "form-control",placeholder:"eg: Keyboard"  %>
      </div>
    </div>
    <button type="submit" class="btn btn-primary add-employee-btn">Create</button>
  <% end -%>  
</div>
</body>
</html>

