<%= render "shared_admin/navs" %>
<%= render "shared_admin/breadcrumbs" %>
<div class="container mt-5 pl-5 pr-5">
<h2 class="text-center mb-5 page-title">Update Project</h2>
<%= render "shared_admin/flash" %>
<div>
<%= form_for @project, :url =>{:action => "update", :id =>@project} do |p| %>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="first_name">Project name</label>
      <%= p.text_field 'name' , class: "form-control", placeholder:"Project name" %>
    </div>
    <div class="form-group col-md-6">
      <label for="first_name">Project leader</label>
      <%= collection_select(:project, :project_leader_id, @users, :id, :full_name, {prompt: true}, {class: 'form-control new-team-search'}) %>
    </div>
    <div class="form-group col-md-6">
    <label for="first_name">Client</label>
    <%= p.collection_select(:client_id, @clients, :id, :client_full_name, {prompt: true}, {class: 'form-control edit-team-leader-search', style: ''}) %>
    </div>
    <div class="form-group col-md-12">
      <label for="last_name">Description</label>
      <%= p.text_area 'description', class: "form-control", placeholder:"Description"%>
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary add-new-emp-btn">Update</button>
<% end -%>  
</div>
<script>
$(document).ready(function() {
  $('.edit-team-leader-search').select2()
})
</script>