<!DOCTYPE html>
<html>
    <head>
        <title>
            Register
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
        .divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}
.reset-password-btn{
    background-color: #c2ea7a!important;
    border: 0px!important;
    border-radius: 25px!important;
    color: #333333!important;
  }
  .reset-password-btn:hover{
    background-color: #91B05C!important;
  }
  .card-border{
      border:0px;
  }
        </style>
    </head>
    <body>
    <div style="text-align:center;margin-top:50px;">
    <%= image_tag "Anv-logo.png", style:'width:180px'%>
</div>
    <div class="card bg-light card-border">
    <!-- <div id="flash-alert"> -->
    <%= render "shared_admin/flash" %> 
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center page-title" style="color: black !important;">Reset your account password</h4>
        <%= form_tag :action => 'reset_password_process', :hashid => @user.hashid do  %>
        <div class="form-group input-group">
            <%= password_field 'reset_password', 'password', class: "form-control", placeholder:"Password" %></p>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <%= password_field 'reset_password', 'password_confirmation', class: "form-control", placeholder:"Retype password" %></p>
        </div> <!-- form-group// -->
            <button type="submit" class="btn btn-primary btn-block reset-password-btn">Reset Password</button>
        </div> <!-- form-group// -->                                                                      
        <% end -%>
    </article>
    <!-- </div> --> <!-- card.// -->
    </body>
</html>