<%= render "shared_admin/navs" %>
<%= render "shared_admin/breadcrumbs" %>
<div class="container mb-5 pl-5 pr-5">
<%= link_to 'Add Client' , new_dashboard_client_path, :action=> 'new', :class=> 'float-right btn btn-primary add-employee-btn' %>
<%= render "shared_admin/flash" %>
<%= render "clients" %>
</div>